<div class="game-container">
  <div class="game-item">
    <div><strong>Your guess: </strong><%= @guess %></div>
    <div><strong>The grid: </strong>|
      <% @grid.each do |letter| %>
        <%= " #{letter} |" %>
      <% end %>
    </div>
  </div>
  <div class="game-item">
    <% @result.each do |key, value| %>
      <div><strong><%= key %>:</strong> <%= value %></div>
    <% end %>
  </div>
  <div class="game-item">
    <%= link_to "Try again", game_path %>
  </div>
</div>
